<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!--
    context:component-scan base-package="auto"/>
    -->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <bean id="Zoo" class="springioc.bean.Zoo">

    </bean>
    <bean id="tiger" class="springioc.animal.Tiger"/>
    <bean id="monkey" class="springioc.animal.Monkey"/>
    <bean id="cat1" class="springioc.animal.Cat">
        <property name="name" value="Kitty1"/>
    </bean>
    <bean id="cat2" class="springioc.animal.Cat">
        <property name="name" value="Kitty2"/>
    </bean>
</beans>